In [1]:
import pandas as pd

In [3]:
data = {'author_id': [1,2,3], 'author_name': ['Тургенев','Чехов','Островский']}
authors = pd.DataFrame(data)

In [4]:
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [5]:
data = {'author_id': [1,1,1,2,2,3,3], 
        'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толсьый и тонкий',
                                                    'Дама с собачкой','Гроза','Таланты и поклонники'],
       'price': [450,300,350,500,450,370,290]}
book = pd.DataFrame(data)

In [6]:
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толсьый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [8]:
authors_book = pd.merge(authors,book,on=['author_id'])

In [10]:
print(authors_book)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толсьый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [14]:
top5 = authors_book.sort_values('price',ascending = False).head(5)

In [15]:
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толсьый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [46]:
authors_stat = authors_book.groupby('author_name', as_index = False)['price'].min().merge(
                        authors_book.groupby('author_name', as_index = False)['price'].max(),on=['author_name']).merge(
                        authors_book.groupby('author_name', as_index = False)['price'].mean(),on=['author_name']).rename(
                        columns={"price_x":"min_price","price_y":"max_price","price":"mean_price"})

In [47]:
print(authors_stat)

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000

In [54]:
authors_book['cover'] = ['твердая','мягкая','мягкая','твердая','твердая','мягкая','мягкая']

In [55]:
print(authors_book)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толсьый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [56]:
import numpy as np

In [58]:
book_info = pd.pivot_table(authors_book,values='price',index='author_name',columns='cover',aggfunc=np.sum, fill_value=0)

In [59]:
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [60]:
book_info.to_pickle("./book_info.pkl")

In [61]:
book_info2 = pd.read_pickle("./book_info.pkl")
book_info2

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950