In [6]:
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as LR, Ridge
from sklearn.ensemble import RandomForestRegressor as RF
from sklearn.metrics import r2_score as r2,mean_squared_error as MSE
warnings.filterwarnings('ignore')
from sklearn.model_selection import cross_val_score, GridSearchCV

In [7]:
df=pd.read_csv('train.csv')

In [464]:
data=df.copy()
data.drop(['Healthcare_1'],axis=1,inplace=True)

In [465]:
#гипотеза №2
data.loc[377,'Rooms']=2
data.loc[1454,'Rooms']=1
data.loc[8849,'Rooms']=2
data.loc[1397,'Rooms']=4
data.loc[1981,'Rooms']=5
data.loc[2269,'Rooms']=1
data.loc[3911,'Rooms']=1
data.loc[4366,'Rooms']=3
data.loc[6149,'Rooms']=1
data.loc[8834,'Rooms']=3
data.loc[4853,'Rooms']=1

In [466]:
def prepare_square(df):
    df.loc[df['Square']<(df['Rooms']*15),'Square']=df['Rooms']*15
   # df.loc[df['Square']>(df['Rooms']*40+20),'Square']=df['Rooms']*40+20
    return df

In [467]:
data=prepare_square(data)

In [468]:
data['price_square'] = data['Price'] / data['Square']

In [246]:
data['LifeSquare'] = data['LifeSquare'].fillna(data['LifeSquare'].mean())

In [469]:
train,test=train_test_split(data,test_size=0.3, random_state=54)

In [470]:
price_mean_by_distr_square=train.groupby(['DistrictId','Rooms'],as_index=False).agg({'price_square':'mean'}).rename(columns={'price_square':'mean_price_by_ds'})

In [203]:
price_mean_by_distr_square.head()

   DistrictId  mean_price_by_ds
0           0       3906.105818
1           1       3241.334714
2           2       4572.065582
3           3       3677.887042
4           4       5035.442365

In [462]:
def join_price_mean(df,stats1,source_df):
    df=pd.merge(df,stats1,on=['DistrictId','Rooms'],how='left')
    df['mean_price_by_ds']=df['mean_price_by_ds'].fillna(source_df['price_square'].mean())
    return df

In [471]:
train = join_price_mean(train,price_mean_by_distr_square,train)

In [356]:
correlation = train.corr()
print(correlation['Price'].sort_values(ascending=False))

Price               1.000000
price_square        0.594004
Rooms               0.574945
mean_price_by_ds    0.547718
Square              0.501587
LifeSquare          0.351455
Social_1            0.269122
Helthcare_2         0.257421
DistrictId          0.255619
Social_2            0.243029
Shops_1             0.182023
Floor               0.114123
Social_3            0.070582
HouseFloor          0.069637
KitchenSquare       0.018351
Id                  0.010019
HouseYear           0.005143
Ecology_1          -0.060091
Name: Price, dtype: float64

In [472]:
X_train=train[['Rooms','Square','DistrictId','Social_1','Helthcare_2','Social_2','mean_price_by_ds']]
y_train=train['Price']

In [473]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
#X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

In [474]:
def rfr_model(X, y):
# Perform Grid-Search
    gsc = GridSearchCV(
        estimator=RF(),
        param_grid={
            'max_depth': range(3,7),
            'n_estimators': (10, 50, 75, 100),
            'min_samples_leaf':[3,5,7,10]
        },
        cv=3,  verbose=0,                         n_jobs=-1)
    
    grid_result = gsc.fit(X, y)
    best_params = grid_result.best_params_
    print(best_params)
    
rfr_model(X_train_scaled,y_train)

{'max_depth': 6, 'min_samples_leaf': 5, 'n_estimators': 50}

In [475]:
model3=RF(random_state=54,max_depth=6,n_estimators=50,min_samples_leaf=5)

In [425]:
from sklearn.cluster import KMeans

In [426]:
kmeans = KMeans(n_clusters=2,random_state=54)

labels_train = kmeans.fit_predict(X_train_scaled)

In [476]:
%%time
model3.fit(X_train_scaled,y_train)

Wall time: 333 ms

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=6,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=5, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=None,
           oob_score=False, random_state=54, verbose=0, warm_start=False)

In [477]:
test = join_price_mean(test,price_mean_by_distr_square,train)

In [742]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 2999
Data columns (total 21 columns):
Id                  3000 non-null int64
DistrictId          3000 non-null int64
Rooms               3000 non-null float64
Square              3000 non-null float64
LifeSquare          3000 non-null float64
KitchenSquare       3000 non-null float64
Floor               3000 non-null int64
HouseFloor          3000 non-null float64
HouseYear           3000 non-null int64
Ecology_1           3000 non-null float64
Ecology_2           3000 non-null object
Ecology_3           3000 non-null object
Social_1            3000 non-null int64
Social_2            3000 non-null int64
Social_3            3000 non-null int64
Helthcare_2         3000 non-null int64
Shops_1             3000 non-null int64
Shops_2             3000 non-null object
Price               3000 non-null float64
price_square        3000 non-null float64
mean_price_by_ds    3000 non-null float64
dtypes: float64(9), int64(9), object(3)
memory usage: 515.6+ KB

In [478]:
X_test=test[['Rooms','Square','DistrictId','Social_1','Helthcare_2','Social_2','mean_price_by_ds']]
y_test=test['Price']

In [479]:
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)

In [480]:
X_test['y_pred_3']=model3.predict(X_test_scaled)

In [326]:
X_test.y_pred_3.value_counts()

124143.539528    50
151185.794724    49
158183.755412    47
158343.493983    28
127514.724271    27
180048.850681    26
124359.433760    21
177637.614669    20
176724.730380    19
176942.541998    18
170151.757928    18
124553.761649    16
181480.125751    16
133561.292078    15
157955.338414    15
180164.442092    14
169221.834735    13
209538.073841    12
152335.277615    11
169740.902857    11
195834.621959    11
169785.699162    11
201253.989890    10
129520.467639    10
133971.514199    10
168810.979664    10
180935.279766     9
151544.236926     9
119961.399865     9
158413.377996     9
                 ..
157301.549338     1
420697.671662     1
212055.566662     1
194782.010686     1
163698.711936     1
199624.511000     1
214045.640158     1
238005.760237     1
412526.348924     1
191557.599299     1
321706.865139     1
383024.525760     1
203106.494241     1
322249.521553     1
322899.779060     1
170942.115175     1
213953.161785     1
177379.683111     1
365586.381609     1
181600.345475     1
195916.507089     1
188658.680931     1
195710.702411     1
242179.280181     1
222690.187705     1
242812.630407     1
265529.991442     1
122819.262185     1
129091.995049     1
243890.358338     1
Name: y_pred_3, Length: 1708, dtype: int64

In [481]:
print('Случайный лес',MSE(y_test,y_pred_3),r2(y_test,X_test['y_pred_3']))

Случайный лес 2849538244.6877747 0.6676722783913109

In [482]:
r2(y_train,model3.predict(X_train_scaled))

0.7955647820347412

In [431]:
labels_test = kmeans.predict(X_test_scaled)

In [432]:
model3.fit(X_train_scaled.loc[labels_train == 0], y_train[labels_train == 0])

y_test_pred_0 = model3.predict(X_test_scaled.loc[labels_test == 0])

In [433]:
model3.fit(X_train_scaled.loc[labels_train == 1], y_train[labels_train == 1])

y_test_pred_1 = model3.predict(X_test_scaled.loc[labels_test == 1])

In [434]:
y_test_all = np.hstack([y_test[labels_test == 0], y_test[labels_test == 1]])
y_test_pred_all = np.hstack([y_test_pred_0, y_test_pred_1])

r2(y_test_all, y_test_pred_all)

0.6930535017869215

In [435]:
y_train_all = np.hstack([y_train[labels_train == 0], y_train[labels_train == 1]])
y_train_pred_all = np.hstack([model3.predict(X_train_scaled.loc[labels_train == 0]), 
                              model3.predict(X_train_scaled.loc[labels_train == 1])])

r2(y_train_all, y_train_pred_all)

0.6718492390727081

In [483]:
price_mean_by_distr_square=data.groupby(['DistrictId','Rooms'],as_index=False).agg({'price_square':'mean'}).rename(columns={'price_square':'mean_price_by_ds'})

In [484]:
data = join_price_mean(data,price_mean_by_distr_square,data)

In [485]:
X = data[['Rooms','Square','DistrictId','Social_1','Helthcare_2','Social_2','mean_price_by_ds']]
y = data['Price']

In [486]:
X_scaled = pd.DataFrame(scaler.transform(X), columns=X.columns)

In [440]:
labels_train = kmeans.fit_predict(X_scaled)

In [487]:
model3.fit(X_scaled,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=6,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=5, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=None,
           oob_score=False, random_state=54, verbose=0, warm_start=False)

# Загружаем тест

In [488]:
test=pd.read_csv('test.csv')

In [77]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 742.3+ KB

In [52]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,3959.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.910000,56.449500,36.158810,5.976800,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.179466,0.838594,19.092787,17.825287,9.950018,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,0.000000,1.378543,0.333490,0.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.906231,23.092026,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.921340,32.925087,6.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,45.174091,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,212.000000,17.000000,223.453689,303.071094,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [277]:
test[test.Rooms > 5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
2071,10793,23,6.0,110.750226,NaN,0.0,2,2.0,2015,0.014073,B,B,2,475,0,NaN,0,0,B
3217,4058,27,6.0,223.453689,104.113552,16.0,2,2.0,2017,0.041116,B,B,53,14892,4,NaN,1,4,B
3398,1435,111,17.0,255.000000,32.528342,8.0,15,17.0,1987,0.093443,B,B,23,4635,5,3300.0,2,4,B

In [489]:
data.loc[2406,'Rooms']=4
data.loc[2524,'Rooms']=3
data.loc[2071,'Rooms']=4
data.loc[3398,'Rooms']=6

In [490]:
test=prepare_square(test)

In [491]:
test=join_price_mean(test,price_mean_by_distr_square,data)

In [304]:
test_scaled = pd.DataFrame(scaler.transform(test), columns=test.columns)

ValueError: could not convert string to float: 'B'

In [650]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 20 columns):
Id                  5000 non-null int64
DistrictId          5000 non-null int64
Rooms               5000 non-null float64
Square              5000 non-null float64
LifeSquare          3959 non-null float64
KitchenSquare       5000 non-null float64
Floor               5000 non-null int64
HouseFloor          5000 non-null float64
HouseYear           5000 non-null int64
Ecology_1           5000 non-null float64
Ecology_2           5000 non-null object
Ecology_3           5000 non-null object
Social_1            5000 non-null int64
Social_2            5000 non-null int64
Social_3            5000 non-null int64
Healthcare_1        2623 non-null float64
Helthcare_2         5000 non-null int64
Shops_1             5000 non-null int64
Shops_2             5000 non-null object
mean_price_by_ds    5000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 820.3+ KB

In [85]:
test=join_stats1(test,stats1,data,mode='test')

In [86]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 20 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       5000 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
mean_price       5000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 820.3+ KB

In [492]:
temp=test[['Rooms','Square','DistrictId','Social_1','Helthcare_2','Social_2','mean_price_by_ds']]

In [493]:
temp_scaled = pd.DataFrame(scaler.transform(temp), columns=temp.columns)

In [652]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 7 columns):
Rooms               5000 non-null float64
Square              5000 non-null float64
DistrictId          5000 non-null int64
Social_1            5000 non-null int64
Helthcare_2         5000 non-null int64
Social_2            5000 non-null int64
mean_price_by_ds    5000 non-null float64
dtypes: float64(3), int64(4)
memory usage: 312.5 KB

In [447]:
labels_test = kmeans.fit_predict(temp_scaled)

In [448]:
model3.fit(X_scaled.loc[labels_train == 0], y[labels_train == 0])

y_test_pred_0 = model3.predict(temp_scaled.loc[labels_test == 0])

In [449]:
model3.fit(X_scaled.loc[labels_train == 1], y[labels_train == 1])

y_test_pred_1 = model3.predict(temp_scaled.loc[labels_test == 1])

In [494]:
test['Price']=model3.predict(temp_scaled)

In [495]:
test[['Id','Price']].to_csv('EChasovskih_predictions_test1.csv',index=False)

In [496]:
test.Price.value_counts()

124815.885778    120
177638.245147    119
156879.801809    117
178842.954118    112
173374.243859     85
141284.852963     78
127990.482306     72
157186.715051     61
178007.068926     45
202946.896402     43
225215.413691     43
125843.675373     41
141011.668915     40
215528.744066     38
201023.700369     38
194664.564066     38
177765.922975     36
129034.260706     34
173451.076366     30
226650.136939     30
325523.294332     30
225952.169575     29
179259.699676     28
160364.784190     28
198932.034407     28
190963.384585     28
177879.391098     27
178054.580250     26
214151.478310     25
221996.109388     25
                ...
239895.532770      1
276999.978854      1
156280.167906      1
170853.462945      1
445145.392641      1
159296.541506      1
307832.378700      1
244361.820711      1
313156.390356      1
157863.413403      1
199622.296405      1
466242.777430      1
151492.119265      1
179178.583022      1
327134.160564      1
239372.008678      1
499464.722356      1
510738.564889      1
243380.228313      1
260813.326686      1
388011.541178      1
211943.240765      1
243585.098092      1
507280.958286      1
475783.241455      1
167322.926791      1
307945.019706      1
212223.729226      1
363509.457878      1
282370.671907      1
Name: Price, Length: 1725, dtype: int64

In [401]:
test

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,mean_price_by_ds,Price
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,...,B,11,2748,1,NaN,0,0,B,3021.675025,167508.563605
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,3355.343060,202139.493944
2,5480,190,1.0,15.000000,15.948246,12.0,2,5.0,1909,0.000000,...,B,30,7538,87,4702.0,5,5,B,7919.443196,332494.654100
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,...,B,23,4583,3,NaN,3,3,B,4116.345095,304680.732542
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,...,B,2,629,1,NaN,0,0,A,2781.838969,125899.657290
5,7633,53,1.0,40.675627,NaN,1.0,21,21.0,1977,0.049637,...,B,34,7759,0,229.0,1,3,B,4821.509217,204033.604882
6,13329,23,2.0,68.099538,64.843025,1.0,2,17.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,2284.108677,169389.171936
7,5502,32,2.0,48.193897,32.857644,6.0,5,14.0,1972,0.135650,...,B,46,7960,6,350.0,3,11,B,5008.861902,212849.385827
8,4220,96,3.0,72.277106,45.968758,9.0,17,17.0,1997,0.041116,...,B,53,14892,4,NaN,1,4,B,3970.219479,293429.169425
9,11538,6,3.0,80.219400,47.660260,9.0,13,17.0,2014,0.243205,...,B,5,1564,0,540.0,0,0,B,2918.027864,211096.905656
10,15975,61,3.0,64.543658,42.651541,7.0,10,9.0,1981,0.300323,...,B,52,10311,6,NaN,1,9,B,4344.943236,262819.033529
11,3310,6,3.0,84.625350,NaN,1.0,6,17.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,2918.027864,212995.353152
12,9286,3,1.0,34.743457,19.772110,6.0,5,9.0,1971,0.265089,...,B,37,5288,0,1937.0,3,2,B,3783.790553,146533.927320
13,11260,46,2.0,46.813776,31.883008,5.0,4,5.0,1968,0.000000,...,B,47,11319,0,1145.0,3,5,B,4439.876602,195495.021979
14,5214,27,1.0,37.555197,NaN,1.0,5,1.0,1977,0.211401,...,B,9,1892,0,NaN,0,1,B,2781.838969,122312.365546
15,11307,41,1.0,42.267225,21.465927,9.0,7,14.0,1974,0.036122,...,B,24,4378,0,1036.0,1,1,B,4293.480295,186740.134395
16,13543,167,3.0,80.220720,51.687097,7.0,5,5.0,1959,0.050272,...,B,21,4231,14,1020.0,0,3,B,5361.339439,406302.452753
17,615,90,1.0,40.596833,21.245197,8.0,14,15.0,1976,0.265089,...,B,37,5288,0,1937.0,3,2,B,4404.505347,194881.423860
18,3495,27,3.0,82.652818,5.690155,1.0,4,17.0,2015,0.072158,...,B,2,629,1,NaN,0,0,A,2781.838969,213289.139771
19,2321,57,2.0,53.952634,33.506643,9.0,5,14.0,2004,0.090799,...,B,74,19083,2,NaN,5,15,B,4056.668576,228779.020199
20,12046,46,1.0,38.409202,21.629841,9.0,12,22.0,2000,0.188784,...,B,31,6137,4,NaN,0,1,B,4439.876602,194837.287821
21,16688,1,1.0,44.878767,NaN,1.0,1,9.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,3227.388312,143566.175755
22,12694,27,3.0,83.670032,46.358356,0.0,8,0.0,2015,0.072158,...,B,2,629,1,NaN,0,0,A,2781.838969,213289.139771
23,783,61,1.0,34.236032,18.477327,5.0,5,5.0,1970,0.298205,...,B,16,4048,3,NaN,1,3,B,4344.943236,160533.817302
24,8968,27,2.0,69.849239,NaN,0.0,3,0.0,1977,0.011654,...,B,4,915,0,NaN,0,0,B,2781.838969,173163.271291
25,13454,11,2.0,44.487951,31.249479,5.0,3,5.0,1964,0.038693,...,B,28,6533,1,1015.0,2,5,B,4055.974766,176329.428993
26,12190,62,3.0,65.287328,43.399473,6.0,4,12.0,1975,0.002212,...,B,39,7614,3,NaN,1,5,A,2801.119871,202624.228515
27,11160,58,1.0,48.610661,48.752502,1.0,4,3.0,1977,0.437885,...,B,23,5735,3,1084.0,0,5,B,3021.675025,127314.880451
28,10291,32,1.0,39.135254,20.144385,9.0,3,14.0,1975,0.135650,...,B,46,7960,6,350.0,3,11,B,5008.861902,211203.457106
29,891,85,2.0,65.550690,61.689280,10.0,13,22.0,1988,0.037178,...,B,52,11217,1,2300.0,1,7,B,4134.228051,250484.530744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,1740,57,2.0,47.701998,30.281572,6.0,5,9.0,1980,0.133215,...,B,49,11395,3,1406.0,3,4,A,4056.668576,181800.782408
4971,3450,93,1.0,38.648108,20.624272,8.0,4,14.0,1986,0.521867,...,B,25,6149,0,NaN,0,0,B,3119.445635,143279.567810
4972,16064,30,1.0,38.376234,37.003311,1.0,2,1.0,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,2835.863931,123508.340511
4973,1804,27,1.0,38.916778,NaN,0.0,11,17.0,1977,0.011654,...,B,4,915,0,NaN,0,0,B,2781.838969,122312.365546
4974,5296,52,1.0,44.442218,44.634608,0.0,5,17.0,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,3089.185017,134061.418082
4975,5346,53,4.0,110.366487,77.705849,20.0,9,24.0,2018,0.049637,...,B,34,7759,0,229.0,1,3,B,4821.509217,482680.558585
4976,4723,95,1.0,45.542940,NaN,0.0,6,0.0,1977,0.000699,...,B,14,3369,24,4129.0,0,3,B,5552.355469,235158.209070
4977,417,77,1.0,32.384127,21.555435,6.0,9,9.0,1976,0.000070,...,B,46,10309,1,240.0,1,16,B,4287.920204,160343.573738
4978,15756,27,1.0,40.732871,23.959211,8.0,6,9.0,2000,0.041116,...,B,53,14892,4,NaN,1,4,B,2781.838969,144085.249724
4979,14090,2,1.0,39.082641,33.214358,7.0,10,14.0,1970,0.000000,...,B,33,7425,1,NaN,2,5,B,4560.204511,199959.516008
4980,14778,32,2.0,57.810897,35.558413,10.0,18,22.0,2004,0.135650,...,B,46,7960,6,350.0,3,11,B,5008.861902,294538.905484
4981,2560,8,2.0,47.488384,28.896493,6.0,5,5.0,1963,0.437885,...,B,23,5735,3,1084.0,0,5,B,4022.329122,179356.047377
4982,12920,23,1.0,39.610426,38.187571,1.0,6,18.0,2013,0.034656,...,B,0,168,0,NaN,0,0,B,2284.108677,74697.707407
4983,8249,58,1.0,39.768340,22.413943,8.0,10,10.0,2005,0.310199,...,B,11,2748,1,NaN,0,0,B,3021.675025,125417.479288
4984,7125,126,1.0,36.233212,22.885434,9.0,3,12.0,1969,0.333892,...,B,30,6564,1,NaN,0,0,B,3548.172681,149130.220773
4985,11732,1,1.0,46.597283,NaN,1.0,17,24.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,3227.388312,144148.027533
4986,13365,35,3.0,82.145360,44.116118,10.0,21,22.0,1998,0.089040,...,B,33,7976,5,NaN,0,11,B,4384.628620,338284.088734
4987,5361,53,3.0,80.102103,NaN,1.0,13,22.0,1977,0.049637,...,B,34,7759,0,229.0,1,3,B,4821.509217,362593.979788
4988,15937,9,4.0,92.158252,54.168616,12.0,4,14.0,1997,0.161532,...,B,25,5648,1,30.0,2,4,B,3255.972211,268580.012690
4989,2591,39,2.0,44.203592,30.191691,6.0,10,9.0,1972,0.428826,...,B,25,5011,8,730.0,0,2,B,4089.011120,176329.428993
4990,15706,94,2.0,47.776485,27.920873,6.0,8,9.0,1970,0.282798,...,B,33,8667,2,NaN,0,6,B,4194.536925,182492.896684
4991,2105,64,2.0,45.493240,32.022565,6.0,4,9.0,1974,0.135650,...,B,46,7960,6,350.0,3,11,B,5109.482413,221187.596519
4992,7220,96,3.0,80.182493,48.627326,10.0,10,17.0,2003,0.041116,...,B,53,14892,4,NaN,1,4,B,3970.219479,315172.543503
4993,14562,113,2.0,46.627882,27.058739,5.0,6,5.0,1969,0.307467,...,A,30,5048,9,325.0,2,5,B,4491.923031,196984.835949
4994,6836,39,2.0,45.131282,30.780551,6.0,2,5.0,1965,0.428826,...,B,25,5011,8,730.0,0,2,B,4089.011120,177507.807180
4995,8180,11,3.0,67.133911,50.809797,6.0,5,9.0,1973,0.000170,...,B,36,5992,0,NaN,1,1,B,4055.974766,248043.582494
4996,4695,1,1.0,40.198472,21.807061,10.0,12,17.0,2017,0.007122,...,B,1,264,0,NaN,0,1,B,3227.388312,143566.175755
4997,5783,12,3.0,77.842178,48.282625,9.0,23,22.0,1989,0.090799,...,B,74,19083,2,NaN,5,15,B,4106.495969,313250.593858
4998,4780,62,2.0,81.305222,NaN,0.0,4,0.0,1977,0.072158,...,B,2,629,1,NaN,0,0,A,2801.119871,197892.454296
4999,12504,30,2.0,60.555693,NaN,1.0,10,17.0,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,2835.863931,172310.625242